<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Pawan Kumar{% endblock %}</title>
  <!-- css-->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/academicons.css">
  <link rel="stylesheet" href="/static/css/compcodicons.css">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript> 


</head>

<body class="layout--home">
  <div class="masthead">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">

          <a class="site-title" href="/">
            Pawan Kumar

          </a>
          <ul class="visible-links">
            <li class="masthead__menu-item">
              <a href="/about">About</a>
            </li>
            <li class="masthead__menu-item">
              <a href="/resume">Resume</a>
            </li>
            <li class="masthead__menu-item">
              <a href="/projects">Projects</a>
            </li>
          </ul>

          <button class="greedy-nav__toggle hidden" type="button">
            <span class="visually-hidden">Toggle menu</span>
            <div class="navicon"></div>
          </button>
          <ul class="hidden-links hidden"></ul>
        </nav>
      </div>
    </div>
  </div>


  <div class="initial-content">
    <div id="main" role="main">
      <div class="sidebar sticky">
        <div class="h-card">
          <div class="author__avatar">
            <a href="/">
              <img src="static/images/bio_photo.jpg" alt="Pawan Kumar" itemprop="image" class="u-photo">
            </a>
          </div>


          <div class="author__content">
            <h3 class="author__name p-name" itemprop="name">
              <a class="u-url" rel="me" href="/" itemprop="url">Pawan Kumar</a>
            </h3>

            <div class="author__bio p-note" itemprop="description">
              <p>Data Scientist | Data Analyst</p>

            </div>

          </div>

          <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">

              <li itemprop="homeLocation">
                <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name"
                  class="p-locality">Kolkota</span>
              </li>





              <li><a href="https://github.com/pawankumar10306" rel="nofollow noopener noreferrer me"
                  itemprop="sameAs"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span
                    class="label">GitHub</span></a></li>
              
              
              <li><a href="https://www.kaggle.com/pawankumar1057" rel="nofollow noopener noreferrer me"
                  itemprop="sameAs"><i class="fa-brands fa-kaggle" aria-hidden="true"></i><span
                    class="label">Kaggle</span></a></li>


              <li><a href="https://www.linkedin.com/in/pawankumar10306" rel="nofollow noopener noreferrer me"
                  itemprop="sameAs"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span
                    class="label">LinkedIn</span></a></li>

              <li><a href="https://codechef.com/users/pawankr10306" rel="nofollow noopener noreferrer me"
                  itemprop="sameAs"><i class="cci cci-codechef" aria-hidden="true"></i><span
                    class="label">CodeChef</span></a></li>


              <li><a href="https://www.hackerrank.com/pawankumar10306" rel="nofollow noopener noreferrer me"
                  itemprop="sameAs"><i class="cci cci-hackerrank" aria-hidden="true"></i><span
                    class="label">Hackerrank</span></a></li>

              <li><a href="https://www.codeforces.com/profile/pawan72pkb" rel="nofollow noopener noreferrer me"
                  itemprop="sameAs"><i class="cci cci-codeforces" aria-hidden="true"></i><span
                    class="label">Codeforces</span></a></li>


            </ul>
          </div>
        </div>


      </div>

      {% block content %}Pawan Kumar{% endblock %}

    </div>
  </div>

  <script src="https://kit.fontawesome.com/806b2882bf.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.min.js') }}"></script>

</body>

</html>
