{% extends 'base.html' %} {% block title %}Pawan Kumar{% endblock %} {% block
content %}

<div class="archive">
  <h1 id="page-title" class="page__title"></h1>
  <h3 class="archive__subtitle">Recent posts</h3>

  <div class="entries-list">
    <div class="list__item">
      <article
        class="archive__item"
        itemscope
        itemtype="https://schema.org/CreativeWork"
      >
        <h2 class="archive__item-title no_toc" itemprop="headline">
          <a href="software-architect/index.html" rel="permalink"
            >Certified Software Architect
          </a>
        </h2>

        <p class="page__meta">
          <span class="page__meta-readtime">
            <i class="far fa-clock" aria-hidden="true"></i>

            less than 1 minute read
          </span>
        </p>

        <p class="archive__item-excerpt" itemprop="description">
          Completed Certification for Software Architecture
        </p>
      </article>
    </div>
  </div>
</div>
{% endblock %}
